USE [ilion_egesticetREPSOLPERUPROY]
GO
/****** Object:  StoredProcedure [Normativo].[uspReporteRemitosPorFechaNegocio]    Script Date: 20/03/2019 17:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- NAME            : uspReporteRemitosPorFechaNegocio
-- AUTOR           : Jimmy Willer Maco Elera
-- CREATION        : 13/02/2019
-- BBDD            : Customer
-- DESCRIPTION 	   : Reporte de Remitos por Fecha de Negocio
-- PARAMETERS	   :
--	@PI_EMPRESA 	Numero de Empresa
--	@PI_TIENDA 		codigo(s) de Tienda (Estacion de Servicio)
--	@PI_FECHAINI 	Fecha de Inicio
--	@PI_FECHAFIN 	Fecha de Fin
--	@PI_TIPOREMITO 	Codigo(s) de Tipo(s) de Remito
--	@PI_DEBUG 		Modo Depuracion
-- ERRORES:
--                      None
 --DECLARE @NCOMPANY	VARCHAR(5) = '02934'; DECLARE @EESS		VARCHAR(MAX) = @NCOMPANY + '00018,' + @NCOMPANY + '00023'; DECLARE @TIPOREMITO VARCHAR(MAX) = ''; DECLARE @FECHAFIN	VARCHAR(10) = CONVERT(VARCHAR(10), GETDATE(), 112); DECLARE @FECHAINI	VARCHAR(10) = CONVERT(VARCHAR(10), GETDATE() - 8000, 112)
 --EXEC Normativo.uspReporteRemitosPorFechaNegocio @PI_EMPRESA = @NCOMPANY, @PI_TIENDA = @EESS, @PI_FECHAINI = @FECHAINI, @PI_FECHAFIN = @FECHAFIN, @PI_TIPOREMITO = @TIPOREMITO, @PI_DEBUG = 'DEBUG'
-- =============================================
ALTER PROCEDURE [Normativo].[uspReporteRemitosPorFechaNegocio]
	@PI_EMPRESA			VARCHAR(5),
	@PI_TIENDA			VARCHAR(MAX),
	@PI_FECHAINI		VARCHAR(10),
	@PI_FECHAFIN		VARCHAR(10),
	@PI_TIPOREMITO		VARCHAR(MAX),
	@PI_DEBUG			VARCHAR(10) = NULL
AS
BEGIN

	SET NOCOUNT ON 	

	---------------------    
	-- ##VERSION##: 6.0
	--------------------- 

	DECLARE @V_IS_DEVENV	INT 		= 0     -- SOLO PARA USO DE LOS DESARROLLADORES (NO CAMBIAR VALOR)

	IF (@PI_DEBUG = 'DEBUG')
	BEGIN
		SET @V_IS_DEVENV = -1
	END

	BEGIN TRY

		IF @PI_EMPRESA IS NULL 
		BEGIN
			-- FORZAR CAPTURA DE CAMPOS DESDE EL REPORTING SERVICES
			SELECT '' AS TIENDA_DES,
				   GETDATE() AS FECHA_EMISION,
				   '' AS REMITO,
				   '' AS REMITO_1,
				   '' AS REMITO_2,
				   '' AS TIPO_REMESA,
				   '' AS CUENTA_EN_USD,
				   '' AS CUENTA_EN_PEN,
				   '' AS FECHA_NEGOCIO,
					0.00 AS [USD_BILLETES],
					0.00 AS [USD_MONEDAS],
					0.00 AS [PEN_BILLETES],
					0.00 AS [PEN_MONEDAS]
			WHERE 1 = 0
		END 
		ELSE 
		BEGIN
			DECLARE @V_CUENTASOLES				VARCHAR(50)
			DECLARE @V_CUENTADOLARES			VARCHAR(50)
			DECLARE @V_TIPO_REMITO_BILLETES		VARCHAR(8)	= @PI_EMPRESA + '003'

			-- SOLO PARA LOS ENTORNOS DE PRE Y DESARROLLO

			IF @V_IS_DEVENV = -1 AND (@@SERVERNAME = 'ARTEMISA' OR @@SERVERNAME = 'HARMONIA')
			BEGIN
				SET @V_IS_DEVENV = 1
				PRINT 'DEVELOMENT OR PRE-PRODUCTION ENVIRONMENT'
			END 

			-- LIMPIAR TABLAS TEMPORALES
	
			IF OBJECT_ID('tempdb..#REMITOS') IS NOT NULL DROP TABLE #REMITOS

			IF OBJECT_ID('tempdb..#FECHAS_REMESADAS') IS NOT NULL DROP TABLE #FECHAS_REMESADAS

			IF OBJECT_ID('tempdb..#FECHAS') IS NOT NULL DROP TABLE #FECHAS

			IF OBJECT_ID('tempdb..#FINAL') IS NOT NULL DROP TABLE #FINAL


			-- CREAR TABLA TEMPORAL PARA LAS ESTACIONES DE SERVICIO
			DECLARE @V_TBL_TIENDAS TABLE (
				TIENDA_COD VARCHAR(10),
				TIENDA_DES VARCHAR(50)
			);

			-- CREAR TABLA TEMPORA PARA LOS TIPOS DE REMESAS O REMITOS
			DECLARE @V_TBL_TIPO_REMITOS TABLE (
				REMITO_COD VARCHAR(10),
				REMITO_DES VARCHAR(50)
			);

			-- CREAR TABLAS PARA LAS DIVISAS
			DECLARE @V_TBL_DIVISAS TABLE (
				DIVISA_COD VARCHAR(15),
				DIVISA_DES VARCHAR(25)
			);

			-- OBTENER LA CUENTA EN SOLES
			SELECT @V_CUENTASOLES = B.ENTIDAD
			FROM	[ILION_EGESTICET].[DBO].BANCOS B WITH(NOLOCK)
			WHERE B.NBANCO = @PI_EMPRESA + '00010'

			-- OBTENER LA CUENTA EN DOLARES
			SELECT @V_CUENTADOLARES = B.ENTIDAD
			FROM	[ILION_EGESTICET].[DBO].BANCOS B WITH(NOLOCK)
			WHERE B.NBANCO = @PI_EMPRESA + '00012'

			-- POBLAR TABLA PARA TIENDAS
			IF (@PI_TIENDA = '' OR @PI_TIENDA = 'ALL')
			BEGIN
				INSERT INTO @V_TBL_TIENDAS (TIENDA_COD, TIENDA_DES)
				SELECT TDS.CODIGO AS TIENDA_COD, TDS.DESCRIPCION AS TIENDA_DES
				FROM [ILION_EGESTICET].[DBO].TIENDAS TDS WITH(NOLOCK)
				WHERE	TDS.CODIGO LIKE @PI_EMPRESA + '%'
						AND TDS.REFPUNTOS='1'
			END
			ELSE
			BEGIN
				INSERT INTO @V_TBL_TIENDAS (TIENDA_COD, TIENDA_DES)
				SELECT TDS.CODIGO AS TIENDA_COD, TDS.DESCRIPCION AS TIENDA_DES
				FROM [ILION_EGESTICET].[DBO].TIENDAS TDS WITH(NOLOCK)
				WHERE	TDS.CODIGO LIKE @PI_EMPRESA + '%'
					AND TDS.CODIGO IN (SELECT ITEM FROM [ILION_EGESTICET].[DBO].[fnSPLIT](@PI_TIENDA,','))
					AND TDS.REFPUNTOS='1'
			END

			IF (@V_IS_DEVENV = 1)
			BEGIN
				SELECT 'TIENDAS' AS TABLA, * FROM @V_TBL_TIENDAS
			END

			-- POBLAR LA TABLA DE TIPOS DE REMITO
			IF (@PI_TIPOREMITO = '' OR @PI_TIPOREMITO = 'ALL') 
			BEGIN
				INSERT INTO @V_TBL_TIPO_REMITOS (REMITO_COD, REMITO_DES)
				SELECT CODIGO, DESCRIPCION
				FROM [ILION_EGESTICET].[DBO].TIPO_APUNTES TE WITH(NOLOCK)
				WHERE TE.CODIGO LIKE @PI_EMPRESA + '%' 
					AND TE.VISUALINOUT <> 0
			END
			ELSE
			BEGIN
				INSERT INTO @V_TBL_TIPO_REMITOS (REMITO_COD, REMITO_DES)
				SELECT CODIGO, DESCRIPCION
				FROM [ILION_EGESTICET].[DBO].TIPO_APUNTES TE WITH(NOLOCK)
				WHERE TE.CODIGO IN (SELECT ITEM FROM [ILION_EGESTICET].[DBO].[fnSPLIT](@PI_TIPOREMITO,','))
				AND TE.VISUALINOUT <> 0
			END

			IF (@V_IS_DEVENV = 1)
			BEGIN
				SELECT 'TIPO_REMITOS' AS TABLA, * FROM @V_TBL_TIPO_REMITOS
			END

			-- POBLAR LA TABLA DE DIVISAS
			INSERT INTO @V_TBL_DIVISAS (DIVISA_COD, DIVISA_DES)
			SELECT	D.CODIGO, D.DESCRIPCION
			FROM	[ILION_EGESTICET].[DBO].DIVISAS D WITH(NOLOCK)
			WHERE	D.CODIGO LIKE @PI_EMPRESA + '%'

			IF (@V_IS_DEVENV = 1)
			BEGIN
				SELECT 'DIVISAS' AS TABLA, * FROM @V_TBL_DIVISAS
			END

			-- CREAR LA TABLA TEMPORAL DE REMITOS
			CREATE TABLE #REMITOS 
			(
				TIENDA_COD			VARCHAR(10),
				TIENDA_DES			VARCHAR(50),
				CAJA_COD			VARCHAR(10),
				IDPROCESO			INT,
				FECHA_EMISION		DATE,
				REMITO				VARCHAR(20),
				REMITO_FUENTE		VARCHAR(20),
				REMITOORIGEN		VARCHAR(20),
				NUMEROREIMPRESION	INT,
				TIPO_REMITO			VARCHAR(50),
				CUENTA_EN_USD		VARCHAR(50),
				CUENTA_EN_PEN		VARCHAR(50),
				FECHA_NEGOCIO		DATE,
				DIVISA_COD			VARCHAR(15),
				DIVISA_DES			VARCHAR(25),
				TAPUNTE_COD			VARCHAR(10),
				TAPUNTE_DES			VARCHAR(50),
				GROUPED_DES			VARCHAR(100),
				IMPORTE				MONEY
			)

			-- POBLALR LA TABLA TEMPORAL DE REMITOS
			INSERT INTO #REMITOS 
			(
				TIENDA_COD,
				TIENDA_DES,
				CAJA_COD,
				IDPROCESO,
				FECHA_EMISION,
				REMITO,
				REMITO_FUENTE,
				REMITOORIGEN,
				NUMEROREIMPRESION,
				TIPO_REMITO,
				CUENTA_EN_USD,
				CUENTA_EN_PEN,
				FECHA_NEGOCIO,
				DIVISA_COD,
				DIVISA_DES,
				TAPUNTE_COD,
				TAPUNTE_DES,
				GROUPED_DES,
				IMPORTE
			)
			SELECT  
				T.TIENDA_COD, 
				T.TIENDA_DES, 
				RR.CAJA,
				RR.IDPROCESO, 
				CAST(RR.FECHA AS DATE)			AS FECHA_EMISION, 
				RR.REMITO, 
				COALESCE(REMITOORIGEN, REMITO) as REMITO_FUENTE,
				RR.REMITOORIGEN, 
				RR.NUMEROREIMPRESION, 
				TA.REMITO_DES AS TIPO_REMITO,
				@V_CUENTADOLARES				AS CUENTA_EN_USD, 
				@V_CUENTASOLES					AS CUENTAS_EN_PEN, 
				CAST(RR.FECHANEGOCIO AS DATE)	AS FECHA_NEGOCIO, 
				D.DIVISA_COD, 
				D.DIVISA_DES, 
				TA.REMITO_COD					AS TAPUNTE_COD, 
				TA.REMITO_DES					AS TAPUNTE_DES, 
				(
					CASE 
						WHEN D.DIVISA_COD = @PI_EMPRESA + '02' THEN 'PEN'
						WHEN D.DIVISA_COD = @PI_EMPRESA + '03' THEN 'USD'
						ELSE ''
					END
				) + '_' + 
				(
					CASE
						WHEN TA.REMITO_COD = @PI_EMPRESA + '002' THEN 'MONEDAS'
						WHEN TA.REMITO_COD = @PI_EMPRESA + '003' THEN 'BILLETES'
						ELSE 'BILLETES'
					END
				) AS GROUPED_DES, 
				RR.IMPORTE 
			FROM	[ILION_EGESTICET].[DBO].REPSOLPERU_REMITOS RR WITH(NOLOCK)
					INNER JOIN @V_TBL_TIPO_REMITOS TA ON TA.REMITO_COD = COALESCE(RR.TAPUNTE, @V_TIPO_REMITO_BILLETES)
					INNER JOIN @V_TBL_TIENDAS T ON T.TIENDA_COD = RR.TIENDA
					INNER JOIN @V_TBL_DIVISAS D ON D.DIVISA_COD = RR.DIVISA
			WHERE	RR.EMPRESA = @PI_EMPRESA
					AND CONVERT(VARCHAR(10), RR.FECHA, 112) BETWEEN @PI_FECHAINI AND @PI_FECHAFIN

			IF (@V_IS_DEVENV = 1)
			BEGIN
				SELECT '#REMITOS' AS TABLA, * FROM #REMITOS
			END

			-- CREAR LA TABLA TEMPORAL FECHAS REMESADAS
			CREATE TABLE #FECHAS_REMESADAS
			(
				TIENDA_COD			VARCHAR(10),
				FECHA_EMISION		DATE,
				REMITO_FUENTE		VARCHAR(20),
				TIPO_REMITO			VARCHAR(50),
				GROUPED_DES			VARCHAR(100),
				FECHA_NEGOCIO		DATE
			)

			INSERT INTO #FECHAS_REMESADAS
			(
				TIENDA_COD,
				FECHA_EMISION,
				REMITO_FUENTE,
				TIPO_REMITO,
				GROUPED_DES,
				FECHA_NEGOCIO
			)
			SELECT 
				RR.TIENDA_COD, 
				RR.FECHA_EMISION, 
				RR.REMITO_FUENTE, 
				RR.TIPO_REMITO, 
				RR.GROUPED_DES, 
				CAST(C.FECHANEGOCIO AS DATE) AS FECHANEGOCIO
			FROM [ILION_EGESTICET].[DBO].[CAJA] C WITH(NOLOCK)
				INNER JOIN [ILION_EGESTICET].[DBO].[CAJAS] CC WITH(NOLOCK) ON CC.[CODIGO] LIKE @PI_EMPRESA + '%' AND CC.[CODIGO] = C.[CAJA]
				INNER JOIN #REMITOS RR ON 
					RR.TIENDA_COD	= CC.TIENDA AND 
					RR.CAJA_COD		= C.CAJA AND
					RR.TAPUNTE_COD	= COALESCE(C.TAPUNTE, @V_TIPO_REMITO_BILLETES) AND 
					C.NDOCUMENTO	LIKE RR.REMITO + '%'
			WHERE   C.[IMPORTE] > 0					-- TIENE MOVIMIENTO
				AND C.[TANOTACION] = 'ENTRADA'		-- TIPO ENTRADA
				AND CC.[TIPO] = 1					-- TIPO BOVEDA
			GROUP BY 
			    RR.TIENDA_COD, 
				RR.FECHA_EMISION, 
				RR.REMITO_FUENTE, 
				RR.TIPO_REMITO, 
				RR.GROUPED_DES, 
				CAST(C.FECHANEGOCIO AS DATE)

			IF (@V_IS_DEVENV = 1)
			BEGIN
				SELECT '#FECHAS_REMESADAS' AS TABLA, * FROM #FECHAS_REMESADAS
			END

			-- CREAR LA TABLA TEMPORAL FECHAS
			CREATE TABLE #FECHAS
			(
				TIENDA_COD			VARCHAR(10),
				FECHA_EMISION		DATE,
				REMITO_FUENTE		VARCHAR(20),
				TIPO_REMITO			VARCHAR(50),
				GROUPED_DES			VARCHAR(100),
				FECHA_NEGOCIO		VARCHAR(MAX)
			)

			INSERT INTO #FECHAS
			(
				TIENDA_COD,
				FECHA_EMISION,
				REMITO_FUENTE,
				TIPO_REMITO,
				GROUPED_DES,
				FECHA_NEGOCIO
			)
			SELECT DISTINCT 
				R.TIENDA_COD,
				R.FECHA_EMISION,
				R.REMITO_FUENTE,
				R.TIPO_REMITO,
				R.GROUPED_DES,
				STUFF(
					(
						SELECT DISTINCT '/' + CONVERT(VARCHAR(5), R2.FECHA_NEGOCIO, 105) 
						FROM #FECHAS_REMESADAS R2
						WHERE
								R2.TIENDA_COD		= R.TIENDA_COD 
							AND R2.FECHA_EMISION	= R.FECHA_EMISION
							AND R2.REMITO_FUENTE	= R.REMITO_FUENTE
							AND R2.TIPO_REMITO		= R.TIPO_REMITO
							AND R2.GROUPED_DES		= R.GROUPED_DES
						FOR XML PATH(''), TYPE
					).value('.', 'NVARCHAR(MAX)') 
					,1,1,'') FECHA_NEGOCIO
			FROM #REMITOS R;

			IF (@V_IS_DEVENV = 1)
			BEGIN
				SELECT '#FECHAS' AS TABLA, * FROM #FECHAS
			END

			-- CREAR LA TABLA TEMPORAL FINAL
			CREATE TABLE #FINAL
			(
				TIENDA_COD			VARCHAR(10),
				TIENDA_DES			VARCHAR(50),
				IDPROCESO			INT,
				FECHA_EMISION		DATE,
				REMITO				VARCHAR(20),
				REMITO_1			VARCHAR(20),
				REMITO_2			VARCHAR(20),
				TIPO_REMITO			VARCHAR(50),
				CUENTA_EN_USD		VARCHAR(50),
				CUENTA_EN_PEN		VARCHAR(50),
				FECHA_NEGOCIO		VARCHAR(100),
				GROUPED_DES			VARCHAR(100),
				IMPORTE				MONEY
			)

			-- POBLAR LA TABLA TEMPORAL FINAL
			INSERT INTO #FINAL
			(
				TIENDA_COD,
				TIENDA_DES,
				IDPROCESO,
				FECHA_EMISION,
				REMITO,
				REMITO_1,
				REMITO_2,
				TIPO_REMITO,
				CUENTA_EN_USD,
				CUENTA_EN_PEN,
				FECHA_NEGOCIO,
				GROUPED_DES,
				IMPORTE
			)
			SELECT 
				TIENDA_COD,
				TIENDA_DES,
				IDPROCESO,
				FECHA_EMISION,
				REMITO,
				NULL,
				NULL,
				TIPO_REMITO,
				CUENTA_EN_USD,
				CUENTA_EN_PEN,
				NULL,
				GROUPED_DES,
				IMPORTE
			FROM	#REMITOS
			WHERE	REMITOORIGEN IS NULL

			-- CALCULAR LOS CODIGOS DE REMITO DE REIMPRESIONES
			UPDATE F
				SET REMITO_1 = F1.REMITO,
					REMITO_2 = F2.REMITO
			FROM #FINAL F 
				 LEFT JOIN #REMITOS F1 ON F1.TIENDA_COD = F.TIENDA_COD AND F1.IDPROCESO <> F.IDPROCESO AND F1.GROUPED_DES = F.GROUPED_DES AND F1.TIPO_REMITO = F.TIPO_REMITO AND F1.REMITOORIGEN = F.REMITO AND F1.NUMEROREIMPRESION = 1
				 LEFT JOIN #REMITOS F2 ON F2.TIENDA_COD = F.TIENDA_COD AND F2.IDPROCESO <> F.IDPROCESO AND F2.GROUPED_DES = F.GROUPED_DES AND F1.TIPO_REMITO = F.TIPO_REMITO AND F2.REMITOORIGEN = F.REMITO AND F2.NUMEROREIMPRESION = 2

			-- CALCULAR LAS FECHAS DE NEGOCIO
			UPDATE F
				SET FECHA_NEGOCIO = F1.FECHA_NEGOCIO
			FROM #FINAL F 
				 INNER JOIN #FECHAS F1 ON 
					F1.TIENDA_COD		= F.TIENDA_COD 
				AND F1.FECHA_EMISION	= F.FECHA_EMISION
				AND F1.REMITO_FUENTE	= F.REMITO
				AND F1.TIPO_REMITO		= F.TIPO_REMITO
				AND F1.GROUPED_DES		= F.GROUPED_DES


			IF (@V_IS_DEVENV = 1)
			BEGIN
				SELECT '#FINAL' AS TABLA, * FROM #FINAL
			END

			-- LISTAR EL PIVOT DE TABLA CON LOS RESULTADOS FINALES
			SELECT *
			FROM 
			(
				SELECT
					TIENDA_DES,
					FECHA_EMISION,
					REMITO,
					REMITO_1,
					REMITO_2,
					TIPO_REMITO AS TIPO_REMESA,
					CUENTA_EN_USD,
					CUENTA_EN_PEN,
					FECHA_NEGOCIO,
					GROUPED_DES,
					IMPORTE
				FROM 
					#FINAL
			) AS TABLA
			PIVOT (
				SUM(IMPORTE) 
				FOR GROUPED_DES 
				IN ([USD_BILLETES],[USD_MONEDAS],[PEN_BILLETES],[PEN_MONEDAS])
			) as PIVOTE

		END
	END TRY

	BEGIN CATCH

		--CAPTURAMOS LOS DATOS DEL ERROR
		DECLARE
			@V_ERMESSAGE NVARCHAR(2048),
			@V_ERSEVERITY INT,
			@V_ERSTATE INT
	
		SELECT
			@V_ERMESSAGE = ERROR_MESSAGE(),
			@V_ERSEVERITY = ERROR_SEVERITY(),
			@V_ERSTATE = ERROR_STATE() 
	
		RAISERROR (@V_ERMESSAGE, @V_ERSEVERITY, @V_ERSTATE)

	END CATCH
	
	SET NOCOUNT OFF 
END


 